*{
    margin:0px;
    padding:0px;
    height:auto;
}
body{
    font-family: 'Open Sans', sans-serif !important;
    -webkit-font-smoothing: antialiased;
}
.padding-remove{
    padding: 0 !important;
}
.clearfix{
    clear: both;
}
img {
    max-width: 100%;
    height: auto;
}
.cricket-gaming{
    background-image: url("../images/hero-background.jpg");
    height: 100vh;
    width: 100vh;
    margin: 0 auto;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}
.cricket-gaming-background{
    background-image: url("../images/bg-t.jpg");
    height: 100vh;
    width: 30% !important;
    margin: 0 auto;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.cricket-gaming-header{
	/*opacity: 0.7;	*/
}
.cricket-fixed-header{
    background-image: url("../images/header.jpg");
    width: 30%;
    position: fixed;
    z-index: 99999;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 50px;
}
.cricket-gaming-heading{
    width: 100%;
    overflow: hidden;
    /*position: absolute;*/
    /*top: 0;*/
}
.cricket-golive-games{
    padding-top: 14px;
}

.cricket-golive-games h1{
    font-size: 13px;
    color: #e6c545;
    font-weight: 700;
    margin: 0;
    text-align: center;
    
}
.tournament-home{
    width: 55%;
    /*float: left;*/
}
.tournament-home button{
    background-image: url("../images/home-bg.png");
    /*width: 100%;*/
    margin: 0 auto;
    border: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    border-radius: 0;
    font-weight: 700;
    margin: 7px 0 0 5px; 
    outline: none;
    border: 2px solid #424242;
    opacity: 0.9;
}
.tournament-refresh{
    width: 55%;
    float: right;
    margin: 0 10px 0 0;
}
.cricket-gold-coin{
    padding-top: 15px;
}
.coins-image{
    width:22px;
    float: left;
}
.cricket-gold-coin h3{
    margin: 0;
    width: 60%;
    float: left;
    color: #e6c545;
    font-size: 18px;
    font-weight: 700;
    padding:3px 5px 0;
}
.tournament-background{
    background-image: url("../images/BKG1.png");
    width: 97% !important;
    margin: 8px auto 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*clear: both;*/
}
.tournament-coins{
    clear: both;
}
.tournament-head-choose{
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: 15px;
    background-image: url("../images/tournament-head.png");
    /* width: 97% !important; */
    margin: 0 auto 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 8px 0;  
}
/*.tournament-head-choose h1{
    margin: 0;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 9px;
    left: 18%;
    font-weight: 700;
    font-style: italic; 
    -webkit-text-stroke: 0.5px #000;
}*/
.tournament-head-choose h1 {
    margin: 0;
    color: #fff;
    font-size: 20px;
    position: relative;
    font-weight: 700;
    font-style: italic;
    -webkit-text-stroke: 0.5px #000;
    z-index: 999999999999;
    text-align: center;
}
.tournament-coins-list{
    overflow: hidden;
    /*margin: 24px 0 0 0;*/
    margin: 24px auto 0;
    width: 94%;
    height: -moz-calc(100vh - (125px));
    height: -webkit-calc(100vh - (125px));
    height: calc(100vh - (125px));
    display:block;
    overflow-y: auto;
}
.tournament-coins-list li{
    /*width: 94%;*/
    /*padding: 5px 0 0;*/
    /*margin: 0 auto;*/
    list-style: none;
}
.tournament-gold-coins{
    background-image: url("../images/g-cup-bg2.png");
    height: 85px;
    width: 100%;
    margin: 0 auto 2px;
    /*border: 3px solid #ccc;*/
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    /*clear: both;*/   
}
.tournament-coins-data{
    position: absolute;
    width: 27%;
    display: contents;
}
.tournament-cup{
        width: 11%;
    float: left;
    position: relative;
    left: 6px;
    top: 9px;
}
.tournament-cup-width{
    width: 31.17px;
    height: 76.34px;
}
.tournament-cup-width:hover{
    transform: scale(1.2);
}
.tournament-sliver-coins{
    background-image: url("../images/Sliver-bg.png");
    height: 85px;
    width: 100%;
    margin: 0 auto 2px;
    background-repeat: no-repeat;
    background-size: 100% 100%;        
}
.tournament-sliver-cup-width{
        width: 33.17px;
    height: 79.34px;
}
.tournament-sliver-cup-width:hover{
    transform: scale(1.2);
}

.tournament-brown-coins{
    background-image: url("../images/brown-bg2.png");
    height: 85px;
    width: 100%;
    margin: 0 auto 2px;
    background-repeat: no-repeat;
    background-size: 100% 100%;        
}
.tournament-brown-cup-width{
        width: 35.17px;
    height: 79.34px;
}
.tournament-brown-cup-width:hover{
    transform: scale(1.2);
}
.tournament-cup-content{
    width: 89%;
    float: left;
}
.tournament-registration-end h1{
    color: #fff;
    font-size: 8px;
    margin: 0 20px 0 0px;
    font-weight: bold;
    text-align: center;
    padding: 2px 0 0 0;
    text-shadow:1px 1px 10px #ff0000, 1px 1px 10px #fff;
}
.tournament-gold-section{
    width: 100%;
    overflow: hidden;
}
.tournament-gold-month{
    width: 75%;
    float: left;
}
.tournament-gold-month h1{
    margin: 0;
    color: #fff;
    /*font-size: 11px;*/
    font-size: 80%;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    /*padding-top: 12px;*/
    text-shadow:1px 1px 10px #490000, 1px 1px 10px #fff;
}
.tournament-gold-fee{
    width: 25%;
    float: left;
}
.tournament-gold-fee h4{
    color: #fff;
    font-size: 65%;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin: 0;
    padding-top: 4px;
    text-align: center;
    /*padding-top: 12px;    */
    text-shadow:1px 1px 10px #490000, 1px 1px 10px #fff;
}
.tournament-gold-month-one{
    width: 10%;
    float: left;
    height: 2px;
}
.tournament-gold-month-two{
    width:66%;
    float: left; 
}
.tournament-gold-month-three{
    width: 20%;
    float: left;
}
.tournament-gold-rules-details{
    width: 100%;
    overflow: hidden;
}
.tournament-gold-rules{
    width: 40%;
    float: left;
}
.tournament-gold-rules h4{
    margin: 0;
    color: #fff;
    font-size: 10px;
    /* text-transform: uppercase; */
    font-weight: 700;
    text-shadow: 1px 1px 10px #490000, 1px 1px 10px #fff;
    text-align: center;
    line-height: 16px;
}
.tournament-gold-rules h2{
    margin: 0;
    color: #fff47f;
    font-size: 9px;
    font-weight: 700;
    text-shadow: 2px 2px 0px #793111, 8px 6px 0px transparent;
    /* -webkit-text-stroke: 0.7px #793111; */
    text-align: center;
    line-height: 13px;
}
.tournament-gold-online-opponent{
    width: 33%;
    float: left;
}
.tournament-gold-online-opponent h2{
    margin: 0;
    color: #fff47f;
    font-size: 9px;
    font-weight: 700;
    text-shadow: 2px 2px 0px #793111, 8px 6px 0px transparent;
    /* -webkit-text-stroke: 0.7px #793111; */
    text-align: center;
    line-height: 13px;
}
.tournament-gold-online-opponent h4{
    margin: 0;
    color: #fff;
    font-size: 10px;
    /* text-transform: uppercase; */
    font-weight: 700;
    text-shadow: 1px 1px 10px #490000, 1px 1px 10px #fff;
    text-align: center;
    line-height: 16px;
}
.tournament-gold-button{
    width: 23%;
    float: left;
    padding: 2px 0 0 2px;
}
.tournament-gold-button button{
    background-image: url("../images/button-coin.png");
    /*height: 100px;*/
    width: 100%;
    margin: 0 auto;
    /*border: 3px solid #ccc;*/
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    /*clear: both;*/   
    border: 1px solid #003780;
    color: #fff;
    border-radius: 0;
    font-weight: 700;
        padding: 4px 6px !important;
}
.tournament-gold-button button:hover{
    color: #fff;
}
/*.cricket-scroll-bar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px olivedrab;
    border-radius: 10px;
}

.cricket-scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: yellowgreen; 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/
.cricket-scroll-bar::-webkit-scrollbar {
    width: 5px;
    background:transparent;
}

.cricket-scroll-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 255, 0);
    border-radius: 50px;
}

.cricket-scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 50px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.01);
    background: #8cd9ff;
}
/*#parallelogram {
    width: 211px;
    height: 18px;
    -webkit-transform: skew(-40deg);
    -moz-transform: skew(-40deg);
    -o-transform: skew(-40deg);
    background: #e68a27;
    opacity: 0.5;
    position: relative;
    left: 42px;
    top: 3px;
}*/
/*.tournament-gold-section h2 {
  font-family:open sans;
  color:#fff;
  position: relative;
  display:inline-block;
  padding:10px 20px
}
.tournament-gold-section h2:after {
  background: #3498db;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: skew(-40deg);
    -moz-transform: skew(-40deg); 
    -o-transform: skew(-40deg); 
    z-index: -1;
}*/

















.cricket-unlimited{
    width: 60%;
    margin: 0 auto;
}
.cricket-width-96-per{
    width: 96%;
    margin: 0 auto;
}
.cricket-team-roster h2{
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: 27px;
    right: 88px;
    font-style: italic;

}
.cricket-tournament-invites{
    width: 100%;
    margin: 0 auto;
    /*height: 150px;*/
    padding-top: 5px;
}
.cricket-tournament{
    width: 98%;
}
.cricket-tournament h2{
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    position: absolute;
        bottom: 20px;
    right: 22px;
    font-style: italic;
}
.cricket-invites{
    width: 98%;
    float: right;
}
.cricket-invites h2{
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 22px;
    font-style: italic;
}
.cricket-status-auction{
    width: 100%;
    margin: 0 auto;
    /*height: 150px;*/
    padding-top: 5px !important;
}
.cricket-status{
    width: 98%;

}
.cricket-status h2{
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    position: absolute;
        bottom: 20px;
    right: 22px;
    font-style: italic;
}
.cricket-auction{
    width: 98%;
    float: right;
}
.cricket-auction h2{
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    position: absolute;
        bottom: 20px;
    right: 22px;
    font-style: italic;
}
.cricket-player-bg-height{
    height: 90vh;
}
/*
@media (min-width: 768px) and (max-width: 991px){
    .cricket-gaming-background{
        width: 100% !important;
        height: 122vh;
    }
    .cricket-head-image{
        width: 100%;
        height: 75px;
    }
    .cricket-golive-games h1{
        padding: 7px 0 0 62px;
        font-size: 24px;
    }
    .cricket-gold-coin{
        padding-top: 20px !important; 
    }
    .cricket-tournament img{
        width: 100%;
    }
    .cricket-invites img{
        width: 100%;
    }
    .cricket-status img{
        width: 100%;
    }
    .cricket-auction img{
        width: 100%;
    }
}*/
@media (min-width: 768px) and (max-width: 991px){
    .cricket-gaming-background{
        width: 100% !important;
        /*height: 260vh;*/
    }        
    .cricket-fixed-header{
        width: 100%;
    }
}
@media (min-width: 480px) and (max-width: 767px){
    .cricket-gaming-background{
        width: 100% !important;
        /*height: 260vh;*/
    }
    /*.cricket-gaming-background{
        width: 100% !important;
        height: 122vh;
    }
    .cricket-head-image{
        width: 100%;
        height: 75px;
    }
    .cricket-golive-games h1{
        padding: 7px 0 0 62px;
        font-size: 24px;
    }
    .cricket-gold-coin{
        padding-top: 20px !important; 
    }
    .cricket-tournament img{
        width: 100%;
    }
    .cricket-invites img{
        width: 100%;
    }
    .cricket-status img{
        width: 100%;
    }
    .cricket-auction img{
        width: 100%;
    }*/
}
@media (min-width: 601px) and (max-width: 767px){
    .cricket-fixed-header{
        width: 100%;
    }
    .tournament-home {
        width: 30%;
    }
    .tournament-home button {
        margin: 5px 0 0 5px;
    }
}
@media (min-width: 480px) and (max-width: 600px){
    .cricket-fixed-header{
        width: 100%;
    }
    .tournament-home {
        width: 40%;
    }
    .tournament-home button {
        margin: 4px 0 0 5px;
    }
}
@media (min-width: 320px) and (max-width: 479px){
    .cricket-fixed-header {
        width: 100%;
        height: 45px;
    }
    .tournament-home button {
        margin: 3px 0 0 5px;
    }
    .cricket-gaming-background {
        width: 100% !important;
    }
    .tournament-refresh {
        width: 47%;
        margin: 0 5px 0 0;
    }
    .tournament-background {
        margin: 5px auto 0;
    }
    .tournament-coins-data {
        width: 92%;
    }
    .tournament-gold-month h1 {
        font-size: 70%;
    }
    .tournament-home {
        width: 70%;
    }
    .tournament-gold-button button {
        font-size: 11px !important;
        padding: 6px 5px !important;
    }
    .tournament-coins-list{
        max-height: -moz-calc(100vh - (128px));
        max-height: -webkit-calc(100vh - (128px));
        max-height: calc(100vh - (128px));
     }
     .tournament-team-table th {
        font-size: 10px !important;
    }
    .tournament-gold-fee h4 {
        font-size: 55%;
    }
    .tournament-gold-online-opponent h4 {
        font-size: 8px;
    }
    .tournament-gold-rules h2 {   
        font-size: 8px;
    }
}
