/* @import 'src/assets/css/style-t.css'; */
/* @import 'src/assets/css/style-invite.css'; */
/* @import 'src/assets/css/style-drop.css'; */
/* @import 'src/assets/css/style-friends.css'; */

.margin-top-zero{
	margin-top: 0 !important;
}
.width-100-percentage{
	width: 100% !important;
}
.cricket-add-friend-sno{
	width: 10%;
	padding: 5px !important;
	font-size: 11px !important;
	margin: 0;
    font-size: 12px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    padding: 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cricket-add-friend-name{
	width: 40%;
	padding: 5px !important;
	font-size: 11px !important;
	margin: 0;
    font-size: 12px;
    line-height: 32px;
    font-weight: 700;
    text-align: left;
    padding: 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cricket-add-friend-challenge{
	width: 25%;
	/* padding: 5px !important; */
	font-size: 11px !important;
}
.cricket-add-friend-remove{
	width: 25%;
	/* padding: 5px !important; */
	font-size: 11px !important;
}
.cricket-add-friend-challenge button{
	width: 27px;
	display: block;
	margin: 0 auto;
}
.cricket-add-friend-remove button{
	width: 27px;
	display: block;
	margin: 0 auto;
}